<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Descargar Playlist de YouTube Music</title>
</head>
<body>
    <h1>Descargar Playlist de YouTube Music</h1>
    <form action="/playlist" method="POST">
        <label for="playlist_url">Ingresa las URLs de las playlists de YouTube Music:</label>
        <input style="width: 600px; padding: 10px;" type="text" id="playlist_url" name="playlist_url" required>
        <button type="submit">Mostrar Playlists</button>
    </form>
</body>
</html>
